instance=message

#db.url=jdbc:mysql://103.235.225.39:3307/oa_messaging
#db.username=wbg
#db.password=wbg@2016
db.url=jdbc:mysql://localhost:3306/oa_messaging
db.username=root
db.password=

db.maxIdle=10
db.minIdle=3
db.initialSize=10
db.timeBetweenEvictionRunsMillis=60000
db.poolPreparedStatements=true
db.testOnBorrow=true
db.testOnReturn=true
db.validationQuery=SELECT NOW();
db.defaultAutoCommit=true
